<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SpringMVC.dao.UploadMapper">
	<resultMap type="com.SpringMVC.entity.Pic" id="baseResult">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<result column="username" property="username" jdbcType="VARCHAR" javaType="string"/>
		<result column="pic" property="pic" jdbcType="BLOB"  typeHandler="org.apache.ibatis.type.BlobTypeHandler" />
	
	</resultMap>


	
	
	<insert id="uploadPic" parameterType="com.SpringMVC.entity.Pic" useGeneratedKeys="true" keyProperty="id">
		insert into pic (username,pic,filename) values
		(#{username,jdbcType=VARCHAR},#{pic,javaType=byte[],jdbcType=BLOB,typeHandler=org.apache.ibatis.type.BlobTypeHandler},#{filename,jdbcType=VARCHAR})
	
	</insert>


	<select id="getDownloadPic" parameterType="java.lang.String" resultMap="baseResult">
		select username,pic from pic where filename='1.jpg'
	</select>
	
	<select id="getAllDownloadByName" parameterType="java.lang.String" resultMap="baseResult">
		select username,filename from pic where  1=1 
			<if test="fileName != null and fileName !=''">
			and filename=#{fileName,jdbcType=VARCHAR}
			</if>
	</select>
</mapper>