<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.SpringMVC.dao.UserMapper">
	<resultMap type="com.SpringMVC.entity.User" id="baseResult">
		<id column="id" property="id" jdbcType="INTEGER" javaType="int"/>
		<result column="username" property="userName" jdbcType="VARCHAR" javaType="string"/>
		<result column="password" property="password" jdbcType="VARCHAR" javaType="string"/>
		<result column="age" property="age" jdbcType="INTEGER" javaType="int"/>
		<result column="session" property="session" jdbcType="VARCHAR" javaType="string"/>
		<result column="cnName" property="cnName" jdbcType="VARCHAR" javaType="string"/>
	</resultMap>


	
	
	<select id="getUserByLogin" parameterType="com.SpringMVC.entity.User" resultMap="baseResult">
			select * from User 
			where 
			username=#{userName,jdbcType=VARCHAR}
			and password = #{password,jdbcType=VARCHAR}
			
			
	</select>
	
	<select id="findUserByName" parameterType="com.SpringMVC.entity.User" resultMap="baseResult">
			select * from User 
			where 
			username=#{userName,jdbcType=VARCHAR}
			
			
	</select>
	
	
	<update id="updateUser" parameterType="com.SpringMVC.entity.User" >
		update User 
		set 
		session = #{session,jdbcType=VARCHAR} 
		where 
		username=#{userName,jdbcType=VARCHAR}
		and password = #{password,jdbcType=VARCHAR}
	</update>

</mapper>